
.editMember {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 150px);
    gap: 40px;

    .form {
        padding: 20px;
        display: flex;
        flex-direction: column;
        -webkit-box-shadow: 0px 0px 14px -10px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 14px -10px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 14px -10px rgba(0,0,0,0.75);
        background-color: #fff;
        gap: 20px;
        width: 80%;
        margin-bottom: 40px;
    
        h2 {
            color: gray;
        }

        .specialtext {
            color: gray;
            display: flex;
            align-items: center;

            .icon {
                font-size: 20px;
            }

            .text {
                font-size: 14px;
                margin-left: 5px;
                color: orange;
            }
        }
    
        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
    
            @media all and (max-width: 768px) {
    
            }
    
             .inputGroup {
                display: flex;
                flex-direction: column;
                gap: 5px;
                max-width: 500px;
                height: fit-content;
    
                label {
                    font-size: 15px;
                    color: rgb(88, 88, 88);
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    gap: 5px;
    
                    .icon {
                        color: orange;
                        cursor: pointer;
                    }
                }
    
                
    
                input ,textarea {
                    border: none;
                    outline: none;
                    background-color: #f2f2f2;
                    padding: 5px 10px;
                    border-radius: 5px;
                    color: rgb(49, 49, 49);
                    font-size: 15px;
                }

                textarea {
                    height: 150px;
                }
    
                input {
                    height: 35px;
                }
    
                
             }
    
             .error {
                font-size: 14px;
                color: red;
                font-weight: 500;
             }
    
             button {
                border: none;
                width: 120px;
                height: 40px;
                padding: 10px 20px;
                border-radius: 5px;
                cursor: pointer;
                background-color: #1c2331;
                color: white;
                font-size: 14px;
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: center;
             }
        }
    }
}
